@import "tailwindcss";

@theme {
  --color-gray-99: #FFFDFB;
  --color-gray-98: #FDFAF6;
  --color-gray-96: #FAF6EE;
  --color-gray-93: #F5EDE3;
  --color-gray-91: #F2EADF;

  --color-orange-86: #E6DED3;
  --color-orange-77: #FFD98B;
  --color-orange-47: #C85028;
  --color-orange-42: #7A6A5C;
  --color-orange-24: #7A5200;
  --color-orange-18: #3B2A20;

  --max-width: 1024px;
}